/* GLOBAL VARIABLES */
:root {
  --clr-dark: rgb(31, 41, 55);
  --clr-blue: rgb(56, 130, 246);
  --clr-primary-white: rgb(249, 250, 248); 
  --clr-gray: rgb(229, 231, 235);
  --clr-gray-less: rgba(229, 231, 235, 0.8);

  --fs-extra: 48px; 
  --fs-big: 36px;
  --fs-middle: 24px;
  --fs-regular: 16px;
  --fs-small: 12px;

  --fw-bold: 700;
  --fw-light: 100;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* STYLING */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#header {
  background-color: var(--clr-dark);

  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  font-weight: var(--fw-bold);
  font-size: var(--fs-big);
  color: var(--clr-primary-white);
}

#nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-gray-less);
}

.nav-link:hover {
  color: var(--clr-gray);
  transition: color 250ms ease-in-out;
}

#hero-section {
  padding: 2.5rem;

  background-color: var(--clr-dark);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#hero-text-container {
  max-width: 400px;
}

#hero-heading {
  font-size: var(--fs-extra);
  color: var(--clr-primary-white);
}

.p-regular-gray {
  font-size: var(--fs-regular);
  color: var(--clr-gray);
}

#button-hero-cta {
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--clr-primary-white);
  background-color: var(--clr-blue);
  font-weight: var(--fw-bold);
}

#button-hero-cta:hover {
  color: var(--clr-blue);
  background-color: var(--clr-primary-white);
  cursor: pointer;
  transition: 250ms;
}

#hero-image-container{
  width: 30%;
}

#hero-image {
  width: 100%;
}

#information-section {
  background-color: var(--clr-primary-white);
  padding: 5rem 10% 5rem 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#information-flex-container {
  padding-block: 1rem;

  display: flex;
  gap: 1rem;
}

.information-content {
  font-size: var(--fs-small);
  color: var(--clr-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-content p {
  text-align: center;
}

.blue-box {
  width: 120px;
  height: 120px;
  border: 3px solid var(--clr-blue);
  border-radius: 15%;
}

#quote-section {
  background-color: var(--clr-gray);
  padding: 10%;
  text-align: center;
}

#blockquote {
  font-size: var(--fs-big);
  font-weight: var(--fw-light);
}

#figcaption {
  font-weight: var(--fw-bold);
  font-size: var(--fs-regular);
  float: right;
}

#cta-section {
  padding: 5%;
  background-color: var(--clr-primary-white);
}

#cta-container {
  width: 65%;
  min-width: fit-content;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  background-color: var(--clr-blue);
  color: var(--clr-primary-white);
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

#cta-container-btn {
  border: 1px solid var(--clr-primary-white);
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--clr-primary-white);
  background-color: transparent;
  font-weight: var(--fw-bold);
}

#cta-container-btn:hover {
  color: var(--clr-blue);
  background-color: var(--clr-primary-white);
  cursor: pointer;
  transition: 250ms;
}

#footer {
  padding: 2.5rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-gray);
}

#footer address {
  text-align: center;
  font-style: normal;
}